In [1]:
from pathlib import Path
import pandas as pd
import sys
import gc

In [2]:
inputfolder = Path(r"C:\Users\jasonjia\Dropbox\Projects\conference_call\output\04_match_firm_names_to_gvkeys\04.1_process_compustat_and_hassan_files\compustat_processed\20220705")
outputfilepath = Path(r"C:\Users\jasonjia\Dropbox\Projects\conference_call\output\04_match_firm_names_to_gvkeys\04.1_process_compustat_and_hassan_files\compustat_processed\20220705\ciqcompany_mergedwithgvkeyandcountry.csv")
 
inputfilename_ciqcompany = 'ciqcompany.csv'
inputfilename_wrds_gvkey = 'wrds_gvkey.csv'
inputfilename_ciqcountrygeo = 'ciqcountrygeo.csv'

In [3]:
# Import files
ciqcompany = pd.read_csv(Path(inputfolder / inputfilename_ciqcompany))
wrds_gvkey = pd.read_csv(Path(inputfolder / inputfilename_wrds_gvkey))
ciqcountrygeo = pd.read_csv(Path(inputfolder / inputfilename_ciqcountrygeo))

In [4]:
def get_number_of_duplicated_values_in_a_df_col(df_col):
    value_counts = df_col.value_counts()
    return value_counts[value_counts > 1].count()

In [5]:
# Columns
# ciqcompany.columns: ['companyid', 'companyname', 'countryid']
# wrds_gvkey.columns: ['companyid', 'gvkey', 'startdate', 'enddate', 'companyname']
# ciqcountrygeo.columns: ['countryid', 'country', 'isocountry2', 'isocountry3', 'regionid', 'region']

# Filter wrds_gvkey and ciqcountrygeo to keep relevant columns
wrds_gvkey = wrds_gvkey[['companyid', 'gvkey']]
ciqcountrygeo = ciqcountrygeo[['countryid','isocountry2']]

# Rename columns
ciqcompany = ciqcompany.rename(columns = {'companyname': 'company_name'})
ciqcountrygeo = ciqcountrygeo.rename(columns = {'isocountry2': 'hqcountry'})

In [6]:
# Check for unique companyids and gvkeys -> There will be some companyids without gvkeys.
print("Number of unique companyids:", ciqcompany['companyid'].nunique())
print("Number of unique gvkeys:", wrds_gvkey['gvkey'].nunique())

Number of unique companyids: 27593141
Number of unique gvkeys: 115553

In [7]:
# Check for duplicates.
print("Checks for wrds_gvkey and ciqcountrygeo:")
print("Number of duplicated companyids in wrds_gvkey:", get_number_of_duplicated_values_in_a_df_col(wrds_gvkey['companyid']))
print("Number of duplicated gvkeys in wrds_gvkey:", get_number_of_duplicated_values_in_a_df_col(wrds_gvkey['gvkey']))
print("Number of duplicated countryids in ciqcountrygeo:", get_number_of_duplicated_values_in_a_df_col(ciqcountrygeo['countryid']))
print("Number of duplicated countries in ciqcountrygeo:", get_number_of_duplicated_values_in_a_df_col(ciqcountrygeo['hqcountry']))

# Some company names have multiple companyids - so 1 gvkey can be linked to multiple companyids. 
# But 1 companyid should be linked to only 1 gvkey. So we remove duplicates for companyid.
# The ciqcountrygeo dataset should be perfectly 1:1, i.e. no duplicated countryid or country.

Checks for wrds_gvkey and ciqcountrygeo:
Number of duplicated companyids in wrds_gvkey: 494
Number of duplicated gvkeys in wrds_gvkey: 4896
Number of duplicated countryids in ciqcountrygeo: 0
Number of duplicated countries in ciqcountrygeo: 0

In [8]:
# Some companyids have multiple gvkeys. We keep only the first gvkey.
print("Dropped duplicates for companyid in wrds_gvkey, redoing checks:")
wrds_gvkey = wrds_gvkey.drop_duplicates('companyid')
print("Number of duplicated companyids in wrds_gvkey:", get_number_of_duplicated_values_in_a_df_col(wrds_gvkey['companyid']))
print("Number of duplicated gvkeys in wrds_gvkey:", get_number_of_duplicated_values_in_a_df_col(wrds_gvkey['gvkey']))
print("Number of duplicated countryids in ciqcountrygeo:", get_number_of_duplicated_values_in_a_df_col(ciqcountrygeo['countryid']))
print("Number of duplicated countries in ciqcountrygeo:", get_number_of_duplicated_values_in_a_df_col(ciqcountrygeo['hqcountry']))

Dropped duplicates for companyid in wrds_gvkey, redoing checks:
Number of duplicated companyids in wrds_gvkey: 0
Number of duplicated gvkeys in wrds_gvkey: 4812
Number of duplicated countryids in ciqcountrygeo: 0
Number of duplicated countries in ciqcountrygeo: 0

In [9]:
# Idea: Merge ciqcompany with gvkey and country
print("Merging ciqcompany with gvkey and country:")

# 1. Merge ciqcompany with gvkey - 1 companyid in ciqcompany <=> 1 company id in wrds_gvkey
ciqcompany = ciqcompany.merge(wrds_gvkey, on='companyid', how='left', validate='1:1')
gc.collect() # Delete collectable items to clear memory

# 2. Merge (ciqcompany, gvkey) with country - 1 countryid in ciqcompany => 1 countryid in ciqcountrygeo
ciqcompany = ciqcompany.merge(ciqcountrygeo, on='countryid', how='left', validate='m:1')

print("Merged!")

Merging ciqcompany with gvkey and country:
Merged!

In [10]:
# Check: Number of rows without gvkeys
print("Number of rows of ciqcompany (merged):", ciqcompany.shape[0])
print("Number of rows of ciqcompany (merged) without gvkeys:", ciqcompany['gvkey'].isna().sum())

Number of rows of ciqcompany (merged): 27593141
Number of rows of ciqcompany (merged) without gvkeys: 27472708

In [11]:
# Drop rows with NaN values for gvkeys
ciqcompany = ciqcompany.dropna(subset=['gvkey'])
print("Dropped NaN values for gvkey, checking stats:")
print("Number of rows of ciqcompany (merged):", ciqcompany.shape[0])
print("Number of unique gvkeys in ciqcompany (merged):", ciqcompany['gvkey'].nunique())
print("Number of unique companyids in ciqcompany (merged):", ciqcompany['companyid'].nunique())
print("Number of unique companynames in ciqcompany (merged):", ciqcompany['company_name'].nunique())
print("Number of duplicated companynames in ciqcompany (merged):", get_number_of_duplicated_values_in_a_df_col(ciqcompany['company_name']))

# Some companynames are duplicated because the company has branches in multiple countries. So each country's branch has its own companyid and countryid. 
# Some companynames just have multiple companyids even with the same countryid.
# In both cases, we only want the companyname, not the id. So we take the first companyname.

Dropped NaN values for gvkey, checking stats:
Number of rows of ciqcompany (merged): 120433
Number of unique gvkeys in ciqcompany (merged): 115150
Number of unique companyids in ciqcompany (merged): 120433
Number of unique companynames in ciqcompany (merged): 119662
Number of duplicated companynames in ciqcompany (merged): 754

In [12]:
# Drop duplicates for company name, and recheck statistics
ciqcompany = ciqcompany.drop_duplicates('company_name')
print("Dropped duplicates for companyname, rechecking stats:")
print("Number of rows of ciqcompany (merged):", ciqcompany.shape[0])
print("Number of unique gvkeys in ciqcompany (merged):", ciqcompany['gvkey'].nunique())
print("Number of unique companyids in ciqcompany (merged):", ciqcompany['companyid'].nunique())
print("Number of unique companynames in ciqcompany (merged):", ciqcompany['company_name'].nunique())
print("Number of duplicated companynames in ciqcompany (merged):", get_number_of_duplicated_values_in_a_df_col(ciqcompany['company_name']))

Dropped duplicates for companyname, rechecking stats:
Number of rows of ciqcompany (merged): 119662
Number of unique gvkeys in ciqcompany (merged): 114783
Number of unique companyids in ciqcompany (merged): 119662
Number of unique companynames in ciqcompany (merged): 119662
Number of duplicated companynames in ciqcompany (merged): 0

In [13]:
# Keep relevant columns
ciqcompany = ciqcompany[['company_name', 'gvkey', 'hqcountry']]
ciqcompany

,company_name,gvkey,hqcountry
5,2M Invest A/S,235716.0,DK
7,3i Group plc,210835.0,GB
14,ABB Ltd,210418.0,CH
70,Albemarle Corporation,29751.0,US
86,The Allstate Corporation,28349.0,US
...,...,...,...
27569993,Borouge plc,353390.0,AE
27570484,ADC Acquisition Corporation PJSC,353372.0,AE
27575304,SBI Mutual Fund - SBI Debt Fund Series C - 46 ...,353418.0,IN
27575305,SBI Mutual Fund - SBI Debt Fund Series C - 35 ...,353419.0,IN
27581939,Tianhong Asset Management Co. Ltd. - CSI Star ...,353453.0,CN

In [15]:
# Save the merged df into csv
ciqcompany.to_csv(outputfilepath, index = False)
print("Saved merged and processed compustat files to:", outputfilepath)

Saved merged and processed compustat files to: C:\Users\jasonjia\Dropbox\Projects\conference_call\output\04_match_firm_names_to_gvkeys\04.1_process_compustat_and_hassan_files\compustat_processed\20220705\ciqcompany_mergedwithgvkeyandcountry.csv